#pannel{
     display: flex;
     justify-content: space-around;
     background-color: rgb(237, 233, 228);
     height: 45px;
     justify-items: center;
     align-items: center;
     margin-top: 85vh;
     margin-left: 15vw;
     margin-right: 15vw;
     border-bottom: 2px solid seagreen;
     
}